@import "titles";

.users-list {
    text-align: center;
}

.users {
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    vertical-align:top;
    margin: 1em;
    position: relative;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.users:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.users img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px;
    z-index:1;
}

.users p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.user {
    //display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .userInfo {
    display: inline-block;
    text-align: left;
    max-width: 450px!important;
  }
  