<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<p>Username: <%= user.username %></p>
<p>Name: <%= user.name %></p>
<p>
  <form id="logout" action="/logout" method="get">
    <div>
      <button id="button" type="submit" class="glyphicon glyphicon-log-out" >Logout</button>
    </div>
  </form>
</p>